<div class="container">
  <h2>Translated Package</h2>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Package ID</th>
        <th>Description</th>
        <th>Target Language</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let package of packages">
        <td>{{ package.package_id }}</td>
        <td>{{ package.description }}</td>
        <td>
          <select [(ngModel)]="package.selectedLanguage" class="form-select">
            <option value="vi">Vietnamese</option>
            <option value="ar">Arabic</option>
            <option value="zh">Chinese</option>
          </select>
        </td>
        <td>
          <button class="btn btn-primary" (click)="translateDesc(package)">
            Translate
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div *ngIf="translations['vi'] || translations['ar'] || translations['zh']" class="mt-3">
    <h3>Translated Descriptions:</h3>
    <div *ngIf="translations['vi']">
      <h4>Vietnamese:</h4>
      <p>{{ translations['vi'] }}</p>
    </div>
    <div *ngIf="translations['ar']">
      <h4>Arabic:</h4>
      <p>{{ translations['ar'] }}</p>
    </div>
    <div *ngIf="translations['zh']">
      <h4>Chinese:</h4>
      <p>{{ translations['zh'] }}</p>
    </div>
  </div>
</div>
