<div class="container d-flex flex-row align-items-center justify-content-center">
    <img src="assets/images/Logo.png" alt="Logo Image" width="150" class="mr-3">
    <h1 class="mb-0" style="color: rgb(255, 136, 156);">Package Delivery Management System</h1>
</div> 

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">FIT 2095</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="driverDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Driver Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="driverDropdown">
            <a class="dropdown-item" routerLink="/add-driver">Add Driver</a>
            <a class="dropdown-item" routerLink="/list-drivers">List Drivers</a>
            <a class="dropdown-item" routerLink="/delete-driver">Delete Driver</a>
            <a class="dropdown-item" routerLink="/update-driver">Update Driver</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="packageDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Package Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="packageDropdown">
            <a class="dropdown-item" routerLink="/add-package">Add Package</a>
            <a class="dropdown-item" routerLink="/list-packages">List Packages</a>
            <a class="dropdown-item" routerLink="/delete-package">Delete Package</a>
            <a class="dropdown-item" routerLink="/update-package">Update Package</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/statistics">Statistics</a>
        </li>
        
      </ul>
    </div>

</nav>
